p{
  font-family: Palatino;
}

body {
  background-image: url("http://snobscoffee.co.za/psd/image/data/Fullscreen%20Background%20Slides/snobs.jpg");
}

#heading img {
  height: auto;
  margin-bottom: -7px;
  width: 100%;
  opacity:0;
  transition: opacity 10s;
}

#bookpic .item{
  margin: 3px;
}

#bookpic .item img{
  display: block;
}

.content{
  background-color: #B28F4F;
  margin:5%;
}

.content p, h2{
  margin: 5%;
  padding-bottom: 3%;
  font-family: Palatino;
  color: white;
  text-shadow: 1px 1px 2px black;
}

#wrapper {
min-height:100%;
position:relative;
}

footer{
display: block;
background-color: white;
width: 100%;
text-align: center;
padding-top: 5px;
padding-bottom: 5px;
position:absolute;
bottom:0;
left:0;
}

ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #644C37;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
  display: inline-block;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  font-family: Palatino;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #503c2c;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #836f5e;}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  height: auto;
  width: 100%;
}
