<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="stylesheets/books.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <p>La la la i hate murgers</p>
    <script type="text/javascript">
    var httpRequest = new XMLHttpRequest();
    function nameOfTheFunction() {
      if (httpRequest.readyState === XMLHttpRequest.DONE) {
        console.log(JSON.parse(httpRequest.responseText));

      } else {
    // still not ready
      }
    }
    var my_search = "Pride and Prejudice";
    var my_search_list = my_search.split(" ");
    my_search = "";
    for (var i = 0; i < my_search_list.length; i++){
      my_search = my_search + '+' + my_search_list[i];
    }
    httpRequest.open('GET', 'https://www.googleapis.com/books/v1/volumes?q=' + my_search, true);
    httpRequest.send(null);
    httpRequest.onreadystatechange = nameOfTheFunction;


    </script>

  </body>
</html>
